{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
{% for article in articles_page.object_list %}        
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
	<a href="{{ SITEURL }}/{{ article.url }}">
		<h2 itemprop="name headline">{{ article.title }}</h2>
	</a>
	<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
	&nbsp;—&nbsp;
	<span itemprop="author" itemscope="" itemtype="http://vanomad.com">
		<span itemprop="name">{{article.author or "John Clarke"}}</span>
	</span>
	{% if article.category %}
	Category:
	<span itemprop="articleSection">
		<a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a>
	</span>
	{% endif %}
	Tags:
	{% if article.tags %} 
	{% for tag in article.tags %}
	<span itemprop="keywords">
		<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
	</span>

	{% endfor %}
	{% endif %}
	{% if article.published %} 
	<div>
		Date Published:
		{{ article.published  }}

	</div>
	{% endif %}
	<div class="summary">{{ article.summary }}
		<span>
			<a href="{{ SITEURL }}/{{ article.url }}">
				 <a class="btn btn-outline-dark btn-lg px-4" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{article.title}}." role="button">Read More</a> 
			</a>
			</span>
	</div>
	

</div>
<hr>
{% endfor %} {# For article #}
{% include 'pagination.html' %}
{% endif %} {# If articles #}
{% endblock content %}

